@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "daisyui";
@theme {
    --color-primarys:#3c3c3c;
    --color-secondarys:#2f712c;
    --color-accents:#2596be;
    --color-blacks:#0e0e0e;
    --color-okl-primary:oklch(55.2% .016 285.938);
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
